pipeline/FilterActivity.json
{
	"name": "FilterActivity",
	"properties": {
		"activities": [
			{
				"name": "File Filter",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.FileList",
						"type": "Expression"
					},
					"condition": {
						"value": "@greaterOrEquals(item(),4)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "File Filter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('File Filter').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"FileList": {
				"type": "array",
				"defaultValue": "1,2,3,4,5,6,7,8,9"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}