pipeline/GetMetadataPipeline.json
{
	"name": "GetMetadataPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetFileDetails",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TestMetadata",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"itemType",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "TestFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('GetFileDetails').output.itemName)",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(activity('GetFileDetails').output.itemName,'TestSubFolder')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}