pipeline/GetMetadataPipeline.json
{
	"name": "GetMetadataPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetFileDetails",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "TestFileList",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "adf-output",
							"DirectoryName": "TestSubFolder"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "TestFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetFileDetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array(activity('GetFileDetails').output.childItems.name)",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(activity('GetFileDetails').output.childItems.type,variables('FilterValue'))",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FilterValue": {
				"type": "String",
				"defaultValue": "File"
			}
		},
		"folder": {
			"name": "Demo"
		},
		"annotations": []
	}
}